.app_wrapper{
  display: grid;
  grid-template-areas:
          "h h h"
          "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
  background: cornflowerblue;
}

.header{
  grid-area: h;
  background: aqua;
}
.header img{
  width: 50px;
  margin: 5px;

}

.sadebar{
  grid-area: n;
  background: lightslategrey;
  color: white;
}

.main_content{
  grid-area: c;

  color: white;
}

.main_logo{
  width: 25%;
  margin-right: 5%;
}

.main_card{
  display: flex;
}